{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>
        {% for video in videos %}
            <a href="{{ path('app_video_show', {'id' : video.id}) }}">
                <p>{{ video.duration }}</p>
                <p>{{ video.releaseDate ? video.releaseDate|date('Y-m-d') : '' }}</p>
                <p>
                    <a href="{{ path('app_video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('app_video_edit', {'id': video.id}) }}">edit</a>
                </p>
            </a>
        {% else %}
                <p>no records found</p>
        {% endfor %}

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_video_new') }}">Create new</a>
    {% endif %}
{% endblock %}